@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints 
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: 992px até 1200px 
Telas grandes: Acima de 1200px 
*/ 

@media print { /* IMPRESSÃO */
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    
    body {
        background-image: url(../imagens/back-print.jpg); /* DESNECESSARIO */
    }

    main {
        border: 2px solid black;
    }
    
    main > h1 {
        text-shadow: none;
        color: black;
    }

    main::after {
        content: "olá mundo!!";
        text-decoration: overline;
    }

    img#cell {display: none; }
    img#table {display: none; }
    img#print {display: block; }
    img#pc {display: none; }
    img#tv {display: none; }
    
}

@media screen and (min-width: 600px) and (max-width: 992px) { /* TABLET */
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#cell {display: none; }
    img#table {display: block; }
    img#print {display: none; }
    img#pc {display: none; }
    img#tv {display: none; }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* DESKTOP */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#cell {display: none; }
    img#table {display: none; }
    img#print {display: none; }
    img#pc {display: block; }
    img#tv {display: none; }
}

@media screen and (min-width: 1200px) { /* GRANDES TELAS */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 700px;
    }

    img#cell {display: none; }
    img#table {display: none; }
    img#print {display: none; }
    img#pc {display: none; }
    img#tv {display: block; }
}
